/* Style Rules for Thirty Day Count Component */
.thirty-day-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}
