/* Style Rules for the Forgot Password Feature */
.forgot-password-form-container,
.update-forgotten-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15% auto;
  text-align: center;
  max-width: 800px;
  max-height: 800px;
  width: 75%;
  height: auto;
  border: 1px solid var(--border-active);
  padding: 10%;
  border-radius: var(--radius);
}

.forgot-password-form-container h2 {
  text-wrap: balance;
  line-height: 2rem;
}

.forgot-password-form-container p {
  text-wrap: balance;
  margin-top: 3.5%;
  color: var(--text-secondary);
}

.forgot-password-form,
.update-forgotten-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 1.75rem auto;
}

.password-reset-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
  width: 100%;
  max-width: 300px;
}

.password-reset-form-group input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: color 0.2s ease;
  font-size: 16px;
}

.update-forgotten-password-form input {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: color 0.2s ease;
  font-size: 16px;
}

.update-forgotten-password-field {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.update-forgotten-password-field input {
  width: 100%;
  padding-right: 45px;
}

.update-forgotten-password-field .password-reset-toggle {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: auto;
}

.password-reset-form-group input:focus {
  outline: none;
  box-shadow: none;
  width: 100%;
}

.forgot-password-button:hover,
.forgot-password-button:focus-visible {
  border-color: var(--border-active);
}

@media (min-width: 768px) {
  .forgot-password-form-container,
  .update-forgotten-password-container {
    margin: 10% auto;
  }
}

@media (min-width: 1023px) {
  .forgot-password-form-container,
  .update-forgotten-password-container {
    margin: 7.5% auto;
  }
}
