/* Style Rules for the Forgot Password Feature */
.forgot-password-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10% auto;
  text-align: center;
  max-width: 800px;
  max-height: 800px;
  width: 75%;
  height: auto;
  border: 1px solid var(--border-active);
  padding: 10%;
  border-radius: var(--radius);
}

.forgot-password-form-container h2 {
  text-wrap: balance;
  line-height: 2rem;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 1.75rem auto;
}

.password-reset-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 0.4rem;
  width: 100%;
  max-width: 300px;
}

.password-reset-form-group input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  outline: none;
  transition: color 0.2s ease;
  font-size: 16px;
}

.password-reset-form-group input:focus {
  outline: none;
  box-shadow: none;
  width: 100%;
}

.forgot-password-button:hover,
.forgot-password-button:focus-visible {
  border-color: var(--border-active);
}
