/* Style Rules for Sign In Component */
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in-form {
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes titleAnimation {
    0% { left:-350px; top:0px;}
    100% { left:0px; top:0px;}
}

#form-title {
    font-weight: 500;
    letter-spacing: 0.125rem;
    margin-bottom: 30px;
    position: relative;
    animation-name: titleAnimation;
    animation-duration: 2s;
}

.sign-in-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-form-group input {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 8px;
    font-family: "Inter", sans-serif;
}

