/*
Style Rules for Success Message 
Only displays after a workout is saved successfully
*/
.success-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-message {
    font-size: 1.5rem;
}

.success-return-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.success-redirect:hover {
    border-color: var(--accent-mint);
}